<h3>Add New Teacher</h3>
<form (ngSubmit)="submitForm()" #teacherForm="ngForm" ngNativeValidate>
  <mat-form-field class="form-group">
    <mat-label>Name:</mat-label>
    <input matInput type="text" required [(ngModel)]="newTeacher.name" name="name" placeholder="Enter name">
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Email:</mat-label>
    <input matInput type="email" [(ngModel)]="newTeacher.email" name="email" placeholder="Enter email" required>
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Subject:</mat-label>
    <input matInput type="text" [(ngModel)]="newTeacher.subject" name="subject" placeholder="Enter subject" required>
  </mat-form-field>
  <div>

    <button mat-raised-button type="submit" color="primary">Submit</button>
  </div>
</form>
