<h3>Get Teacher Information</h3>
<form class="teacher-info-form" (ngSubmit)="getTeacherInfo()" #teacherForm="ngForm" ngNativeValidate>
  <div class="form-group">
    <label for="id">Teacher ID:</label>
    <input type="number" id="id" name="id" [(ngModel)]="teacherId" placeholder="Enter teacher id" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Get Information</button>
</form>
<div *ngIf="teacher" class="teacher-info">
  <h4>Teacher Information</h4>
  <p>Name: {{ teacher.name }}</p>
  <p>Email: {{ teacher.email }}</p>
  <p>Subject: {{ teacher.subject }}</p>
</div>
