<h3>Add New Student</h3>
<form (ngSubmit)="submitForm()" #studentForm="ngForm" ngNativeValidate>
  <mat-form-field class="form-group">
    <mat-label>Name:</mat-label>
    <input matInput type="text" required [(ngModel)]="newStudent.name" name="name" placeholder="Enter name">
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Email:</mat-label>
    <input matInput type="email" [(ngModel)]="newStudent.email" name="email" placeholder="Enter email" required>
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Teacher Id:</mat-label>
    <input matInput type="number" [(ngModel)]="newStudent.teacherId" name="teacherId" placeholder="Enter teacher id"
      required>
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit">Submit</button>
</form>
