<div class="">
  <div *ngIf="teachers.length === 0" class="no-teachers">
    <p>No teachers found.</p>
  </div>

  <div *ngIf="teachers.length > 0" class="table-container">
    <h2>Teacher's Information</h2>
    <table mat-table class="teacher-table" [dataSource]="teachers">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let teacher">{{ teacher.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let teacher">{{ teacher.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let teacher">{{ teacher.email }}</td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef>Subject</th>
        <td mat-cell *matCellDef="let teacher">{{ teacher.subject }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let teacher" class="action-buttons">
          <button mat-flat-button color="primary" (click)="updateTeacher(teacher)">Update</button>
          <!-- <button mat-button (click)="deleteTeacher(teacher)">Delete</button> -->
          <button mat-flat-button color="warn" (click)="openDeleteDialog(teacher)">Delete</button>
          <button mat-flat-button color="primary" (click)="viewDetails(teacher)">Details</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="pagination-controls">
    <button mat-flat-button color="primary" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }}</span>
    <button mat-flat-button color="primary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
