<app-spinner *ngIf="isLoading | async"></app-spinner>
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <h1 class="heading">Teacher-Student Management System</h1>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <li class="nav-item">
            <a routerLink="" class="nav-link"><button mat-flat-button>Home</button></a>
          </li>
          <li class="nav-item">
            <a routerLink="teachers" class="nav-link"><button mat-flat-button>Teacher</button></a>
          </li>
          <li class="nav-item">
            <a routerLink="students" class="nav-link"><button mat-flat-button>Student</button></a>
          </li>
          <!-- logout function will work from component -->
          <li class="nav-item">
            <button mat-flat-button color="accent" (click)="logout()">Log out</button>
          </li>
        </ng-container>
        <ng-template #loggedOut>
          <li class="nav-item">
            <button mat-flat-button color="accent" (click)="auth.loginWithRedirect()">Log in</button>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>

  <!-- <div *ngIf="auth.user$ | async as user" class="user-info">
      <p>{{user.email}}</p>
    </div> -->
</nav>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
